p {
    display: inline;
    color: blueviolet;

}

.checkAndDelete {
padding-left: 325px;

    display: flex;
    justify-content: space-between;
}


.todoItem {

    border-style: solid;
    border-color: #555555;
    margin-bottom: 10px;
}
