ul {
     color: blueviolet;


 }


h4 {

    text-align: center;
    font-weight: 1000;
}


h1 {

    text-align: center;
    font-family: "Lucida Console";

}

.TodoList{

    width: 50%;
}

.textFelt {

    width: 85%;
}


.todoMakers {
    padding-bottom: 17px;
    margin-left: 15px;
    margin-top: 15px;
    width: 43%;
    border-style: solid;
    bordercolor: #555555;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 30px;
    border-width: 5px;;
    display: inline-block;
    vertical-align:top;
}


button {
    background-color: #555555;
    border: none;
    color: hotpink;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input {
    color: blueviolet;
    background-color: lightgray;
}

.untickedTodos{
    border-style: solid;

}

.tickedTodos{

    border-style: solid;
width: 43%;
    display:inline-block
}