ul {
    color: blueviolet;


}

h4 {

    text-align: center;
}


h1 {

    text-align: center;
}

.textFelt {

    width: 85%;
}


.todoMakers {


}


button {
    background-color: #555555;
    border: none;
    color: hotpink;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input {
    color: blueviolet;
    background-color: lightgray;
}