body {
    background-color: hotpink;
}


.welcome {
    margin: auto;
    margin-top: 50px;
    width: 35%;
    border-style: solid;
    bordercolor: #555555;
    border-radius: 50px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 13px;
}
